<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary"></button> -->
  <button fxFlex="1 1 25%" mat-flat-button class="primary">C</button>
  <button fxFlex="1 1 25%" mat-flat-button class="primary">(</button>
  <button fxFlex="1 1 25%" mat-flat-button class="primary">)</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn">÷</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">(</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary">7</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">8</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">9</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn">x</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">)</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary">4</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">5</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">6</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn">-</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">Basic</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary">1</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">2</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">3</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn">+</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">Basic</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary">+/-</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">0</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary">.</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn">=</button>
</div>