<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary"></button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="resetBtn" (click)="onResetClick()">C</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('leftBasket')">(</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('rightBasket')">)</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn" class="normalBtn" (click)="onButtonClick('divide')">÷</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">(</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('7')">7</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('8')">8</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('9')">9</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn" class="normalBtn" (click)="onButtonClick('multiply')">x</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">)</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('4')">4</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('5')">5</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('6')">6</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn" class="normalBtn" (click)="onButtonClick('subtract')">-</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">Basic</button> -->
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('1')">1</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('2')">2</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('3')">3</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn" class="normalBtn" (click)="onButtonClick('add')">+</button>
</div>
<div fxFlex fxLayout="row">
  <!-- <button fxFlex="1 1 25%" mat-flat-button class="secondary">Basic</button> -->
  <!-- <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('reverse')">+/-</button> -->
  <button fxFlex="1 1 50%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('0')">0</button>
  <button fxFlex="1 1 25%" mat-flat-button color="primary" class="normalBtn" (click)="onButtonClick('dot')">.</button>
  <button fxFlex="1 1 25%" mat-flat-button color="warn" class="normalBtn" (click)="onButtonClick('equals')">=</button>
</div>